.project-icon {
  /*min-width: 15%;*/
  width: 15%;
}

.project-desc {
  width: 85%;
  word-wrap: break-word;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-link:hover {
  color: #9f9f9f;
}

.contact-logo:hover{
  animation: pulse 1s;
  animation-timing-function: linear; 
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);}
  100% { transform: scale(1); }
}